header {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  & .headerbg {
    background-color: rgba(57, 73, 143, 0.801);
  }

  & .header-upper {
    display: flex;
    width: 100%;
    justify-content: space-between;


    & ul {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

      & li {
        padding: 0px 4px;

        & a {
          line-height: 1.5;
          cursor: pointer;
          padding: 4px 8px;
          border-radius: .2rem;
        }
      }
    }
  }

  #signupButton,
  #loginButton,
  #borrarLocalStorageButton {
    @include border-hover;
  }

  #desconexionButton {
    @include border-hover;

    & span {
      color: red;
    }
  }



  & .header-lower {
    display: flex;
    background-color: rgba(84, 97, 211, 0.822);
    width: 100%;
    justify-content: space-between;

    & ul {
      padding: 5px;
      margin: 5px;
      display: flex;

      & li {
        margin-left: 10px;
      }
    }
  }
}