header {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  & .headerbg {
    background-color: rgba(57, 73, 143, 0.801);
  }

  & .header-upper {
    display: flex;
    width: 100%;
    justify-content: space-between;


    & ul {
      margin: 5px;
      padding: 5px;
      display: flex;

      & li {
        margin-left: 10px;
        padding: 3px;

        & button {
          padding: .1rem;
          cursor: pointer;
        }
      }
    }
  }

  & .header-lower {
    display: flex;
    background-color: rgba(84, 97, 211, 0.822);
    width: 100%;
    justify-content: space-between;

    & ul {
      padding: 5px;
      margin: 5px;
      display: flex;

      & li {
        margin-left: 10px;
      }
    }
  }
}